body {
    text-align: center;
    background-color: #D4FDE4;
}

h1 {
    font-family: Monoton;
    font-size: 50px;
    margin: 0.3em;
    text-align: center;
    padding-bottom: 1%;
    border: 1px solid rgb(117, 119, 119);
    border-radius: 10px;
    background-color: rgb(117, 119, 119);
    color:#D4FDE4;

}

h2 {
    margin: 0 0.5em 0.6em;
    font-size: 20px;
}

.choose_color{
  margin-top: 0.5em;
}

#colorPicker {
  border-radius: 3px;
}

table,
tr,
td {
    border: 1px solid rgb(0, 0, 0);
  }

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 13px;
  background-color: white;
}

input[type=number] {
    width: 4em;
    border-radius: 3px;
}

#createBtn,
#resetBtn  {
  border-radius: 5px;
}

.container {
  padding: 3%;
  width: 20%;
  height: 50%;
  text-align: center;
  min-width: 10%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;

}
.decor {
  position:fixed;
  padding:2%;
  text-align:left;
}

.canvas {
  position:absolute;
  height:90%;
  width:65%;
  top:135px;
  left:300px;
  padding: 2% 0.5%;
  margin: 0 6em 6em;
  text-align:center;
}

#pixelCanvas {
  margin: 1em auto;
  display:table;
  text-align:center;
}
